/* css all */

* {
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

body {
    background-color: violet;
}


/* header css */

header {
    display: flex;
    justify-content: space-between;
}

.container {
    max-width: 1400px;
    background-color: blue;
}

.navbar {
    justify-content: space-between;
}